*.lock
*.log
*.zip
*.index
*.snap
*.markers
*.version
*.tree
*.resources
*.prefs
*.launch
*.xml
*.xmi
*.cfe
*.cfs
*.si
*.db
*.dat
*.history
*.setup
*.mark
*.ini
*.fdt
*.fdx
*.fnm
*.frq
*.nrm
*.prx
*.tii
*.tis
*.gen
*.classpath
*.class
/.metadata/.mylyn/.taskListIndex/*
/.metadata/.plugins/com.genuitec.eclipse.code.core/.codeMixUserData/Backups/*.json
/.metadata/.plugins/com.genuitec.eclipse.code.core/.codeMixUserData/CachedData/6720c4073177d3db401c5a10373968972b5a135a/*.code
/.metadata/.plugins/com.genuitec.eclipse.code.core/.codeMixUserData/CachedExtensions/*
/.metadata/.plugins/com.genuitec.eclipse.code.core/.codeMixUserData/*
/.metadata/.plugins/com.genuitec.eclipse.code.core/.codeMixUserData/GPUCache/*
/.metadata/.plugins/com.genuitec.eclipse.code.core/.codeMixUserData/Local Storage/*.localstorage
/.metadata/.plugins/com.genuitec.eclipse.code.core/.codeMixUserData/Local Storage/*.localstorage-journal
/.metadata/.plugins/com.genuitec.eclipse.code.core/.codeMixUserData/User/workspaceStorage/d5e50e6d9f5c8cfa1f3841c9f947a718/*.json
/.metadata/.plugins/com.genuitec.eclipse.code.core/.codeMixUserData/*.json
/.metadata/.plugins/com.genuitec.eclipse.code.core/validationIndex/*
/.metadata/.plugins/com.genuitec.eclipse.code.core/validationIndex/*.p
/.metadata/.plugins/com.genuitec.eclipse.code.core/validationIndex/*.t
/.metadata/.plugins/com.genuitec.eclipse.code.monitor/*.properties
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache.lucene60/*
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/*
/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/*.json
/.metadata/.plugins/org.eclipse.jdt.core/*
/.metadata/.plugins/org.eclipse.jdt.core/*.txt
/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/*.png
/.metadata/.plugins/org.eclipse.pde.core/.cache/*.properties
/.metadata/.plugins/org.eclipse.tm.terminal.view.ui/.executables/*.properties
/.metadata/.plugins/org.eclipse.ui.intro/*
/.metadata/.plugins/org.eclipse.wst.sse.core/*.properties
/.metadata/*.code-workspace
/.recommenders/caches/*.json
/.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/*
